<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <img onclick="window.location.replace('/')" src="/sample-data/F1.svg.png" href="/"width="10%;"/>
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">

                <li style="padding-left: 3rem;">
                    <NavLink class="nav-link d-flex align-items-center" href="DriverSearch">
                        <box-icon name='car' type='solid' color='#939d9e'></box-icon>&nbsp; Driver Search
                    </NavLink>
                </li>
                <li style="padding-left: 2rem;">
                    <NavLink class="nav-link d-flex align-items-center" href="TeamSearch">
                        <box-icon name='group' type='solid' color='#939d9e' style="display: inline-block;"></box-icon>&nbsp; Team Search
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
