@using CA3F1.Shared.Models﻿
@using Newtonsoft.Json
@page "/"

<PageTitle>Index</PageTitle>
<center>
	<h1>Welcome to my Blazor F1 App!</h1>
	<p>Developed for C# Module</p>
	<br />
	<br />
</center>


@if (TeamData?.response != null)
{
	<center>
		<h5><b>2023 Season Team Rankings</b></h5>
		<div >
			<table class="table  w-auto table-responsive-sm">
				<thead >
					 
					<tr>
						<th scope="col">Position</th>
						<th></th>
						<th scope="col">Team</th>
						<th scope="col">Points</th>
					</tr>
				</thead>
				<tbody>

				
				@foreach (var TeamInfo in TeamData.response)
				{
					<tr>
						<td class="text-center">@TeamInfo.position</td>
						<td style="width: fit-content !important;"><img src="@TeamInfo.team.logo" width="125px !important;" height="75px !important;" class="float-end" /></td>
						<td >@TeamInfo.team.name</td>
						<td class="text-center">@TeamInfo.points</td>

					</tr>

				}
				</tbody>
			</table>
		</div>
	</center>


	
}
else
{
	<p>Loading team data...</p>
}

@code {
	private TeamRankingRoot TeamData;

	protected override async Task OnInitializedAsync()
	{
		await MakeApiCall();
	}

	private async Task MakeApiCall()
	{
		using var client = new HttpClient();
		var request = new HttpRequestMessage
			{
				Method = HttpMethod.Get,
				RequestUri = new Uri("https://api-formula-1.p.rapidapi.com/rankings/teams?season=2023"),
				Headers =
	{
		{ "X-RapidAPI-Key", "5f3853b99amsh601f7aab225fb6ep1a2569jsndd2d15834371" },
		{ "X-RapidAPI-Host", "api-formula-1.p.rapidapi.com" },
	},
			};
		using (var response = await client.SendAsync(request))
		{
			response.EnsureSuccessStatusCode();
			var body = await response.Content.ReadAsStringAsync();
			Console.WriteLine(body);
			TeamData = JsonConvert.DeserializeObject<TeamRankingRoot>(body);
			StateHasChanged(); // Trigger a re-render of the component

		}

	}
}

